body {
  cursor: none !important;
  background-color: #1e4029;
  overflow-x: hidden;
}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  pointer-events: none !important;
}

.cursor__default__inner {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: rgba(10, 27, 16, 2.5);
  border: 2px solid #d5a54e;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.cursor__trace__inner {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.04s ease;
}

.cursor--active .cursor__trace__inner {
  transform: scale(0.5) translate(-100%, -100%);
  transition: transform 0.3s ease;
}

@keyframes ripple {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  20% {
    transform: scale(5);
    opacity: 1;
  }
  100% {
    transform: scale(10);
    opacity: 0;
  }
}

.ripple {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #d5a54e;
  border-radius: 50%;
  animation: ripple 0.5s ease-out;
  z-index: -1;
}

.preloader {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #521714;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.preloader__btn {
  position: absolute;
  top: 50vh;
  left: 50vw;
  width: 120px;
  height: 120px;
  color: rgb(213, 165, 78);
  background-color: rgb(38, 64, 41);
  border: none;
  border-radius: 50%;

  /* transform: translate(-50%, -50%); */
  margin-top: -60px;
  margin-left: -60px;
}

.preloader__btn_hold {
  font-size: 19px;
  line-height: 20px;
  font-weight: 800;
  letter-spacing: normal;
}

.show-area {
  display: block;
  opacity: 1;
}

.hidden-area {
  display: none;
  opacity: 0;
}

.header {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.circle {
  position: absolute;
  display: inline-block;
  width: 350px;
  height: 350px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}

#circle-1 {
  top: -100px;
  left: -130px;
}

#circle-2 {
  bottom: 5vh;
  right: -230px;
}

.material-symbols-outlined {
  position: absolute;
  opacity: 0.45;
}

#material__symbol_1 {
  top: 15%;
  left: 15%;
  font-size: 7vw;
}

#material__symbol_2 {
  top: 55%;
  left: 15%;
  font-size: 6vw;
}

#material__symbol_3 {
  top: 20%;
  left: 70%;
  font-size: 8vw;
}

#material__symbol_4 {
  top: 60%;
  left: 70%;
  font-size: 5vw;
}

.header__title {
  position: absolute;
  top: 30vh;
  width: 100%;
  font-size: 7.5rem;
  font-weight: 400;
  line-height: 8.625rem;
  color: rgb(213, 165, 78);
  text-align: center;
}

.poster__parallax {
  position: relative;
  height: 1500px;
}

.poster-image {
  position: absolute;
  opacity: 0;
}

.poster-image_wrapper {
  position: absolute;
  width: 100%;
}

#poster-image_wrapper_1 {
  right: 0;
  height: 100%;
}

#poster-image_wrapper_2 {
  top: 10%;
  left: 20%;
  height: 667px;
}

#poster-image_wrapper_3 {
  top: 35%;
  right: 0;
  height: 772px;
}

#poster-image_1 {
  right: 0;
  width: 1127px;
}

#poster-image_2 {
  height: 100%;
}

#poster-image_3 {
  right: 0;
  height: 100%;
}

@keyframes appear-right-to-left {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes appear-left-to-right {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes appear-bottom-to-top {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.poster-image_state_visible #poster-image_1 {
  animation: appear-right-to-left 0.75s, ease;
  animation-fill-mode: forwards;
}

.poster-image_state_visible #poster-image_2 {
  animation: appear-left-to-right 0.75s, ease;
  animation-fill-mode: forwards;
}

.poster-image_state_visible #poster-image_3 {
  animation: appear-bottom-to-top 0.75s, ease;
  animation-fill-mode: forwards;
}
