#floating {
  position: fixed;
  bottom: 125px;
  background-color: #222;
  border-radius: 24px;

  left: 50%;
  transform: translateX(-50%);
}

#floating-map-button {
  display: flex;
  align-items: center;
  padding: 14px 19px;
  gap: 8px;
  color: #fff;
  cursor: pointer;
}

#floating-map-button:hover {
  transform: scale(1.04);
}

#floating-map-title {
  font-size: 14px;
  font-weight: 600;
}
