main {
  width: 1300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  padding: 24px 10px;
  margin: 0 auto; /* 좌우 자동 여백 → 가운데 정렬 */
}

.place-image-wrapper {
  position: relative;
  width: 308px;
  height: 293px;
  border-radius: 23px;
  overflow: hidden;
}

.heart-icon {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 24px;
  color: white;
  cursor: pointer;
}

.heart-icon:active {
  transform: scale(0.5);
  transition: transform 0.25s ease;
}

.description-section {
  margin-top: 13px;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  color: rgb(34, 34, 34);
  font-weight: 600;
  gap: 3px;
  justify-content: center;
  align-items: center;
}

.description-section_title {
}
