body {
  background-color: #111;
}

#main-img-wrapper {
  padding-top: 139px;
  text-align: center;
}

#intro-main {
  margin: 54px auto 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  color: white;
  font-size: 40px;
  font-weight: 500;
  gap: 20px;
}

#intro-main p {
  text-align: center;
}

#join-us-text {
  margin-top: 73px;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.6;
}

@keyframes upAndDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

#down-arrow-icon {
  opacity: 0.2;
  font-size: 36px;
  animation: upAndDown 1s infinite;
}

#list-item-wrapper {
  margin: 0 auto;
  width: 383px;
}

.list-item {
  display: inline;
  font-size: 48px;
  font-weight: 600;
}

.list-item::before {
  display: inline-block;
  background-image: url();
  background-size: 51px 53px;
  content: "";
  width: 51px;
  height: 53px;
}

.list-item#on {
  color: white;
}

/* .list-item#on::before {
  background-image: url();
} */

#panel1-img {
  position: relative;
  height: 320px;
  overflow: hidden;
  margin-bottom: 500px;
}

#flying-santa-image {
  position: absolute;
  left: -78px;
  height: 310px;
  transform: translate(-78px, -13px) rotate(23deg);
}

#video-section {
  margin-bottom: 1000px;
}

#video {
  display: block;
  margin: 0 auto;
  height: 350px;
}

#fixed-description {
  width: 622px;
  margin: 30px auto 0;
  color: white;
  text-align: right;
  font-size: 35px;
  font-weight: 600;
  line-height: 50px;
  transform: translateY(100px);
  opacity: 0;
}

#bank-beyond-wrapper {
  /* 주변과의 상호작용 (postition fixed) 배치에서 벗어나서 발생하는 끊김 방지 */
  height: 380px;
}

#bank-beyond {
  display: flex;
  justify-content: center;
}

#white-wrapper {
  position: relative;
  background-color: #f7f7f7;
  height: 1000px;
  padding-top: 80px;
  z-index: 1;
}

#slider-container {
  position: relative;
  margin: 0 auto;
  width: 300px;
}

#slider-content-wrapper {
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

#slider-content-wrapper::-webkit-scrollbar {
  width: 0;
}

#slider-content {
  display: flex;
}

.slider-image {
  width: 300px;
  height: 466px;
  scroll-snap-align: center;
}

.slider-button {
  position: absolute;
  bottom: -110px;
  font-size: 40px;
  cursor: pointer;
}

#left-button {
  left: 10px;
}

#right-button {
  right: 10px;
}

#slider-index {
  position: absolute;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
}
